# bin
bin
bin_win
bin_linux

# make compiled
Makefile
.clangd
*.o

# qt compiled
build*
.qmake.stash
moc_*
qrc_*
ui_*
compile_commands.json
*.qrc
.qm
*.user

# cmake compiled
*.so
*.so.1
*.so.1.0
*.so.1.0.0
